
body{
    margin: 0;
}

.main-container{
    width: 100vw;
    height: 100vh;
    background-image: url(fondo.jpg);
    padding: 15px;
}

.card{
    height: 500px;
    width: 600px;
    margin: auto;
    
}

.image-container
{
    width: 100%;
    height: 55%;
}

img{
    width: 100%;
    height: 100%;
}

.text-container{
    background-color: white;
    height: 45%;
    padding: 20px 25px;
}

h1{
    margin-top: 0;
    text-align: center;
    
}

hr{
    border: dotted grey 1px;
    color: black;
}

p{
    color: gray;
}

button{
    margin: auto;
    display: block;
    background-color: red;
    border: none;
    color: white;
    height: 40px;
    font-size: 14px;
    width: 180px;
}

