 body {
            margin: 0;
            font-family: Georgia, 'Times New Roman';
            background-color: #f0f0f0;
        }
        
        .container {
            display: flex;
        }
        
        .izquierda {
            padding: 50px;
            margin-left: 500px;
            margin-top: 100px;
            text-align: center;
        }
        
        h1 {
            font-size: 50px;
            margin-top: 5px;
            margin-bottom: 5px;
        }
        
        p {
            margin: 10px 0;
        }
        
        button {
            background-color: black;
            color: white;
            padding: 15px 40px;
            border: none;
            margin-top: 20px;
        }
        
        .derecha {
            margin-top: 100px;
            margin-left: 100px;
            width: 25vw;
            height: 70vh;
        }
        
        img {
            width: 100%;
            height: 100%;
        }